.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem calc(100vh - 8rem);
  justify-content: center;
  background-color: #e7f5f7;
  font-size: 1.6rem;
}

.appMain {
  height: 100%;
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.mainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
