/* Statistics section */
.stats {
  padding: 2.4rem;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 11px;
  background-color: #fff;
  display: grid;
  width: 82rem;
  text-align: left;
  max-height: 44rem;
  min-height: 44rem;
  overflow: hidden;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr;
  z-index: 1000;
  border-bottom: 2.4rem solid #fff;
  font-size: 1.4rem;
}

.statsBorder {
  width: 100%;
  background-color: #ccc;
  height: 1px;
}

.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.clipboard {
  height: 20rem;
  justify-content: center;
}

.statsTitle {
  color: #1098ad;
  font-size: 3rem;
  position: absolute;
  top: 1.6rem;
  left: 2.4rem;
  line-height: 1;
}

.stats ul {
  display: flex;
  /* grid-row: 2/-1; */
  flex-direction: column;
  list-style-type: none;
  /* width: 100%; */
  white-space: nowrap;
  overflow-y: auto;
}

.stats li {
  padding: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.075);
  color: #fff;
}

.statisticsPlaceholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #fbc02d; */
  grid-row: 1/-1;
}

.statisticsPlaceholderText {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
}

.statEmoji {
  font-size: 20rem;
  line-height: 1;
  z-index: -1;
}

.stats li.completed {
  background-color: #70c1ce;
}

.stats li.incomplete {
  background-color: #fbc02d;
}

.stats li.reset {
  background-color: #b6b6b6;
}

.stats button {
  border: none;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 9px;
  transition: all 0.3s;
  white-space: nowrap;
}

.deleteButton {
  color: #fff;
  background-color: #ff7b7f;
}

.stats button:hover {
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.075);
}

.stats button:focus-visible {
  box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.5);
}

.icon {
  color: #1098ad;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border: none;
  background: none;
  padding: 0;
}

.icon:hover {
  box-shadow: none !important;
}

.closeBtn,
.toggleEvents {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 0;
}

.toggleEvents,
.deleteButton {
  font-size: 1.6rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}

.toggleEvents:hover,
.deleteButton:hover {
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.075);
}

.deleteAllButton {
  background-color: #ff7b7f !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: #fff;
  border: none;
  border-radius: 9px;
  padding: 0.4rem 0 !important;
  width: 14rem;
  cursor: pointer;
  margin-left: auto;
  height: 100%;
}

.deleteAllButton:hover {
  background-color: #ff6b6f !important;
}

.deleteAllButton:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(16, 152, 173, 0.5) !important;
}

.pomodoroInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
  align-items: center;
}

.date,
.firstDate {
  color: #1098ad !important;
  box-shadow: none !important;
  text-align: center;
  margin-bottom: 1.2rem;
  padding-bottom: 2.4rem;
  padding-top: 1.2rem;
  border-bottom: 1px solid #1098ad;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.firstDate {
  border: none;
}

.arrowUp {
  margin-bottom: 0.2rem;
}

/* Container for the events section */
.eventsContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 60rem;
  gap: 0.8rem;
  padding: 1.2rem;
  max-height: 20rem;
  margin-right: 1.2rem;
  overflow-y: auto;
  transition: max-height 0.5s ease-in-out;
  scrollbar-width: auto;
  scrollbar-color: #28a2b5 #f1f1f1;
}

.completed .eventsContainer {
  scrollbar-color: #28a2b5 #f1f1f1;
}

.incomplete .eventsContainer {
  scrollbar-color: #9fd6de #f1f1f1;
}

.eventItem {
  background-color: #9fd6de;
  padding: 0.6rem 1.2rem;
  border-radius: 9px;
  white-space: nowrap;
}

/* .eventStart {
  background-color: #009688;
} */

.eventPause {
  background-color: #ff9800;
}

.eventResume {
  background-color: #1098ad;
}

/* .eventReset {
  background-color: #87ceeb;
} */

.pomodoroItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: serif;
}

.pomodoroCompleted {
  color: #0e899c;
}

.sessionInterrupted {
  background-color: #ff7b7f !important;
}

.simpleBar {
  min-height: 0rem;
  grid-row: 2/-1;
}

.summaryContainer {
  display: grid;
  grid-row: 2/-1;
}

.allTimersSummary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 1.6rem;
  row-gap: 2.4rem;
}

.pageSelect {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.sessionBtn {
  padding: 0.4rem 0 !important;
  justify-content: center;
  align-items: center;
  width: 11rem;
  color: #1098ad;
  border: 1px solid #1098ad !important;
  border-radius: 11px;
  height: 100%;
  display: flex;
  gap: 0.4rem;
}

.sessionBtn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(16, 152, 173, 0.5) !important;
  border-radius: 9px;
}

.sessionBtn:hover {
  background-color: #cfeaef;
}

.sessionBtn:disabled:hover {
  background-color: transparent;
}

.sessionBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sessionBtnActive {
  background-color: #1098ad;
  color: #e7f5f7;
}

.sessionBtnActive:hover {
  background-color: #0e899c;
}

.sessionBtnActive:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sessionBtnActive:disabled:hover {
  background-color: #1098ad;
}
